.portfolio-container {
  .card {
    background-color: rgba(0, 0, 0, 0.2);

    .card-text {
      h4 {
        color: rgba(192, 59, 31, 0.9);
      }
      color: rgba(192, 59, 31, 0.65);
    }
  }
}
